<div class="grid lg:grid-cols-7 sm:grid-cols-1 md:grid-cols-3 gap-4 w-full p-4" *ngIf="series.length > 0; else noSeries">
    <div *ngFor="let serie of series">
        <div class="flex flex-col items-center w-full rounded-lg shadow-md overflow-hidden">
            <a [routerLink]="['/home/serie', serie.id]">
                <div class="w-full overflow-hidden">
                    <img [src]="'image?poster=%2F' + serie.poster | apiImg " alt=""
                        class="w-full transition-transform duration-300 ease-in-out transform hover:scale-110">
                </div>
                <div class="text-gray-800 font-bold text-base mx-2">
                    <a [routerLink]="['/home/serie', serie.id]"
                        class="cursor-pointer hover:text-sky-400 transition duration-200 ease-in-out">{{serie.titulo | slice:0:20}}</a>
                </div>
                <div class="text-gray-500 mx-2">
                    <h1>{{serie.fechaLanzamientoSerie| date:'YYYY'}}</h1>
                </div>
            </a>
        </div>
    </div>
</div>

<ng-template #noSeries>
    <div class="text-center text-gray-500">
        <p>No hay series disponibles en este momento.</p>
    </div>
</ng-template>