<div class="bg-blue-950 h-screen w-full p-2 flex flex-col">
   
    <div class="p-4">
        <h1 class="text-center text-white font-extrabold text-5xl">LISTA DE SERIES</h1>
    </div>
    
 
<div class="h-full flex flex-col justify-center">
    <div class="mb-5">
        <button class="bg-blue-900 p-3 rounded-3xl text-white font-bold text-base hover:bg-sky-600" routerLink="/new">NUEVA
            SERIE
        </button>
    </div>
    <div class="overflow-x-auto border-2 border-none rounded-lg justify-center ">
        <table class="table-auto w-full shadow-2x1">
            <thead class="text-white">
                <tr class="py-3 bg-blue-900">
                    <th>Titulo</th>
                    <th>Popularidad</th>
                    <th>Episodios</th>
                    <th>Genero</th>
                    <th>Video</th>
                    <th>Poster</th>
                </tr>
            </thead>
            <tbody class="text-cyan-900 text-center">
                <tr class="bg-blue-200 cursor-pointer duration-300" *ngFor="let serie of series">
                    <td class="">{{serie.titulo}}</td>
                    <td class="">{{serie.popularidad}}</td>
                    <td class="">{{serie.numEpisodiosTotal}}</td>
                    <td class="">{{serie.genero}}</td>
                    <td class="">{{serie.videoKey}}</td>
                    <td class="">{{serie.poster}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


 
</div>