@tailwind base;
@tailwind components;
@tailwind utilities;


  :root{
      --color1:rgb(15, 123, 212);
  }
 
.progress2{
  fill: none;
  stroke-width: 5;
  stroke: rgb(233, 233, 233);
}
  .progress {
    fill: none;
    stroke-width: 5;
    stroke-dasharray: 157;
    stroke-dashoffset: 157;  /*indicativo de progreso*/
    transition: .3s;
  }