<section id="t" *ngIf="episodio" class="relative">
    <div class="md:flex  items-center p-4 md:p-8 md:h-[750px]" [ngStyle]="{
        'background-image':'url(' + ('http://localhost:8080/api/media/image?poster=%2F' + episodio.portadaEpisodio) + ')',
        'background-size':'cover',
        'background-position':'center'
        }">

        <div class="absolute inset-0 bg-slate-800 opacity-50"></div>

        <div class="flex justify-center items-center relative">
            <img [src]="'http://localhost:8080/api/media/image?poster=%2F' + episodio.portadaEpisodio" alt=""
                class="md:w-[450px] w-[350px] rounded-md shadow-sm shadow-gray-500">
        </div>
        <div class="text-white md:pl-8 md:w-4/5 h-full mt-8 md:mt-0 flex flex-col justify-center relative">
            <div class="mb-8 ">
                <h1 class="titulo">{{episodio.tituloEpisodio}}</h1>
                <h3 class="text-xl font-bold mb-5"><span
                        class="text-2xl font-bold border border-solid p-1 mr-3">Capitulo {{episodio.numEpisodio}}</span></h3>
                <h1 class="text-2xl ">({{episodio.fechaEstreno | date:'YYYY'}})</h1>
                <h1 class="text-5xl ">Serie: {{episodio.tituloSerie}}</h1>
            </div>
            <div class="mb-8 text-black text-6xl flex">
                <div class="flex items-center justify-center">
                    <span class="material-icons icon-redondo" title="Guardar">bookmark</span>
                </div>
                <div class="flex items-center justify-center">
                    <span class="material-icons icon-redondo" title="Listar">format_list_bulleted</span>
                </div>
                <div class="flex items-center justify-center">
                    <span class="material-icons icon-redondo" title="Agregar">favorite</span>
                </div>
                <div class="flex items-center justify-center">
                    <span class="material-icons icon-redondo" title="Reproducir">play_arrow</span>
                </div>
            </div>
            <div class="mb-5">
                <h2 class="text-4xl font-bold mb-5">Sinopsis</h2>
                <p class="text-lg">{{episodio.sinopsisEpisodio}}</p>
            </div>
            <div>
                <h2 class="text-4xl font-bold mb-5">Polularidad</h2>
                <div class="flex border text-3xl border-white bg-white rounded-lg px-3 py-1 w-fit mb-3 lg:mx-0 ">
                    <span class="material-icons flex items-center text-sky-900">grade</span>
                    <span class="font-bold  text-sky-900">{{porcentajeEpisodio(episodio.promedio)}}%</span>
                </div>
            </div>
        </div>
    </div>
</section>


<!--SECCION TEMPORADAS SERIE-->
<section *ngIf="episodio && serie">
    <div class="p-4 h-auto border border-b-2 border-gray-100 flex w-full ">
       <div class="flex w-full">
            <div class="">
                <img [src]="'http://localhost:8080/api/media/image?poster=%2F' + episodio.portadaEpisodio" alt="" class="w-[100px] rounded-md shadow-sm shadow-gray-500">
            </div>
            <div class="w-full ml-5">
                <div class="flex items-center">
                    <h1 class="text-2xl font-bold mb-1 mr-2">Serie {{episodio.tituloSerie}}</h1> 
                    <h1 class="text-2xl sm:ml-3 text-gray-600">({{episodio.fechaEstreno | date:'YYYY'}})</h1>
                </div>
                <a [href]="'http://localhost:4200/home/serie/'+ serie.id +'#s'" class="flex items-center text-xl font-bold text-gray-600 hover:text-gray-400">
                    <span class="material-symbols-outlined text-base font-bold mr-1 flex justify-center"> arrow_back</span>Regresa a Serie
                </a>
            </div>
       </div>
    </div>
</section>


<section class="w-full h-auto bg-cover bg-center relative"
    [ngStyle]="{'background-image':'url('+ imagenBgGeneroUrl +')'}">
    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-violet-900/50 "></div>

    <div class="relative p-5 h-full text-white font-bold">
        <div class="md:flex mb-4">
            <h1 class=" flex items-center text-2xl mb-5 md:mb-0 md:mx-5">TRAILER</h1>
        </div>

        <div class="block md:flex justify-center">
            <div *ngIf="episodio">
                <div class="flex justify-center p-3 relative">
                   
                    <button *ngIf="episodio.videoKey;" (click)="openModal(episodio.videoKey)" class="group block relative">
                        <img [src]="'http://localhost:8080/api/media/image?poster=%2F' + episodio.portadaEpisodio"
                          alt="{{episodio.tituloEpisodio}}"
                          class="mb-5 md:m-0 rounded-xl shadow-lg shadow-violet-400 group-hover:brightness-50 md:h-[450px] lg:h-[550px]">
                      
                        <!-- Ícono de "Play" -->
                        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <span class="material-icons text-white text-9xl">play_circle_filled</span>
                        </div>
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal de Video -->
<div *ngIf="isModalOpen"
    (click)="closeModal()"
    class="fixed inset-0 bg-black/70 z-50 flex items-center justify-center">
    <div class="relative bg-black rounded-lg shadow-lg max-w-3xl w-full pb-10 p-5" (click)="$event.stopPropagation()">
        
        <button (click)="closeModal()" class="absolute bottom-0 right-1/2 text-gray-600 hover:text-black text-5xl">&times;</button>

        <div class="relative w-full pb-[56.25%]">
            <iframe
                [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + selectedVideoKey)"
                class="absolute top-0 left-0 w-full h-full"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>


